# Elevenlabs
ELEVENLABS_API_KEY="sk_xxx"
ELEVENLABS_AGENT_ID="agent_xxx"
ELEVENLABS_VOICE_ID="aTTiK3YzK3dXETpuDE2h" # More voices under https://help.elevenlabs.io/hc/en-us/articles/14599760033937-How-do-I-find-my-voices-ID-of-my-voices-via-the-website-and-through-the-API

# Vonage
VONAGE_APP_ID="your vonage app id"
VONAGE_PKEY_B64="base64 encoded content of vonage application private.key"

# Settings
RECORD_ALL_AUDIO=false
USE_ELEVENLABS_WS_DIRECTLY=false
LOCALTUNNEL_SUBDOMAIN=""